:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #f6f6f6;

    --grid-columns: 0;
    --grid-rows: 0;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#container {
    background-color: #303030;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    padding: 5px;
    position: relative;
}

.cell {
    background-color: #eeeeee;
    width: 50px;
    height: 50px;
}

.red {
    background-color: #ff9595;
}

.green {
    background-color: #bde672;
}

.yellow {
    background-color: #f4e484;
}

.black {
    background-color: #6d6658;
}

.objective {
    background-color: #f6aace;
}

.obstacle {
    visibility: hidden;
}

#player {
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: blueviolet;
    border-radius: 50%;
}
