:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #f6f6f6;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container {
    background-color: #303030;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    padding: 5px;
    position: relative;
}

.cell {
    background-color: #eeeeee;
    width: 50px;
    height: 50px;
}

.red-cell {
    background-color: #ff9595;
}

.green-cell {
    background-color: #bde672;
}

.yellow-cell {
    background-color: #f4e484;
}

.black-cell {
    background-color: #6d6658;
}

.pink-cell {
    background-color: #f6aace;
}

.wall {
    visibility: hidden;
}

#character {
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: blueviolet;
    border-radius: 50%;
}
